
$sans-font: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: 'Roboto Slab', serif;
$font-family-sans-serif: $sans-font;
$font-family-serif: $serif-font;

$fi-path: "foundation-icon-fonts";

$row-width: 100%;

$body-font-family: $sans-font;

$text-color: $darkest;
